<!DOCTYPE html>
<html>
    <head>
        <title>Sblog {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="/js/dropdown.js"></script>
        <script type="text/javascript">
            $('.dropdown-toggle').dropdown();
        </script>
    </head>
    <body>
      <div id="wrap">
        <div class="container">
            <div class="row navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">Sblog: {% block subtitle %}{% endblock %}</a>
                    <ul class="nav">
                        {% block navigation %}<li><a href="/">HOME</a></li>{% endblock %}
                    </ul>

                    <ul class="nav pull-right">
                        {% if user %}
                        <li class="dropdown">
                            <a href="/admin" class="dropdown-toggle" data-toggle="dropdown">Admin Menu<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/newpost">Create a new blog</a></li>
                                <li><a href="/admin/postlist">Blog post list [edit|delete]</a></li>
                                <li class="divider"></li>
                                <li><a href="#">user name: {{ user.login }}</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if user %}
                        <li><a href="/logout">Logout</a></li>
                        {% else %}
                        <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span9">
                    {% block content %}{% endblock %}
                </div>
                <div class="span3">
                    {% block sidemenu %}
                    <ul class="nav nav-list well">
                        <li class="nav-header">Side Menu 1</li>
                        <li><a href="#">menu 1</a></li>
                        <li><a href="#">menu 2</a></li>
                        <li class="nav-header">Side Menu 2</li>
                        <li><a href="#">menu 3</a></li>
                        <li><a href="#">menu 4</a></li>
                    </ul>
                    {% endblock %}
                </div>
            </div>
         </div>
      </div>
      <div id="footer" class="row">
          {% block footer %}(c) Sblog{% endblock %}
      </div>
    </body>
</html>